<div class="login-container">
  <form [formGroup]="formGroup" (ngSubmit)="authenticate()">
    <mat-form-field class="w-100">
      <input matInput placeholder="Email" type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button class="w-100" color="primary" transloco="login" type="submit"
      [disabled]="formGroup.invalid"></button>
  </form>
</div>