@import 'src/styles/_variables';

$toolbar-height: 64px;

mat-toolbar {
  padding: 0;

  .toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-md;
    width: 100%;

    .brand, .menu {
      display: flex;
      align-items: center;
    }
  }
}

.sidenav-container {
  bottom: 0;
  height: calc(100% - #{$toolbar-height});
  left: 0;
  position: absolute;
  right: 0;
  top: $toolbar-height;

  .sidenav {
    min-width: 200px;
    max-width: 200px;

    .sidenav-content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: $padding-md;

      .sidemenu {
        flex: 1;
      }
      .copyright {
        flex: 0;
        text-align: center;
      }
    }
  }

  .sidenav-content {
    height: 100%;
    width: 100%;
  }
}