<mat-toolbar>
  <div class="toolbar-container">
    <!-- Brand -->
    <div class="brand">
      <span>My Application</span>
    </div>

    <!-- Menu -->
    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">
        Account name
        <mat-icon aria-hidden="false">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon aria-hidden="false">settings_applications</mat-icon>
          <span transloco="settings"></span>
        </button>
        <button mat-menu-item>
          <mat-icon aria-hidden="false">exit_to_app</mat-icon>
          <span transloco="logout"></span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>