@import 'src/styles/_variables';

$toolbar-height: 64px;

mat-toolbar {
  padding: 0;

  .toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-md;
    width: 100%;

    .brand, .menu {
      display: flex;
      align-items: center;
    }
  }
}

.sidenav-container {
  height: calc(100% - #{$toolbar-height});
  background: green;
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav {
    min-width: 200px;
    max-width: 200px;
  }

  .sidenav-content {
    height: 100%;
    width: 100%;
  }
}