<mat-toolbar>
  <div class="toolbar-container">
    <!-- Brand -->
    <div class="brand">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon aria-hidden="false">menu</mat-icon>
      </button>
      <span>My Application</span>
    </div>

    <!-- Menu -->
    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">
        Account name
        <mat-icon aria-hidden="false">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon aria-hidden="false">settings_applications</mat-icon>
          <span transloco="settings"></span>
        </button>
        <button mat-menu-item>
          <mat-icon aria-hidden="false">exit_to_app</mat-icon>
          <span transloco="logout"></span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <div class="sidenav-content">
      <div class="sidemenu">

      </div>
      <div class="copyright">
        <span transloco="copyright"></span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>